<%- include('../components/header.ejs') %>
<%- include('../components/navbar.ejs') %>
<%- include('../components/sidebar.ejs') %>
<div class="content-warp">
  <div class="account-regist">
    <nav aria-label="breadcrumb" class="pt-5">
      <ol class="breadcrumb small bg-dark text-light  w-25 justify-content-center  ml-5 mb-0">
        <li class="breadcrumb-item">后台</li>
        <li class="breadcrumb-item">账户</li>
        <li class="breadcrumb-item">账户注册</li>
      </ol>
    </nav>
    <form class="w-25 mx-auto py-4 small" method="post" action="/admin/regist">
      <div class="form-group">
        <label for="username">昵称</label>
        <input type="text" class="form-control" id="username"  name="name" aria-describedby="nameHelp" placeholder="Enter name" required>
        <small id="nameHelp" class="form-text text-muted">发布文章时显示的作者昵称</small>
      </div>
      <div class="form-group">
        <label for="useraccount">账号</label>
        <input type="text" class="form-control" id="useraccount" name="account" aria-describedby="accountHelp" placeholder="Account" required>
        <small id="accountHelp" class="form-text text-muted">后台登录账号</small>
      </div>
      <div class="form-group">
        <label for="userpassword">密码</label>
        <input type="password" class="form-control" id="userpassword"  name="password" placeholder="Password" required>
      </div>
      <button type="submit" class="btn btn-info  btn-block">注册</button>
    </form>
  </div>
  <div class="account-manage">
    <nav aria-label="breadcrumb" class="pt-3">
      <ol class="breadcrumb small bg-dark text-light w-25 justify-content-center ml-5 mb-0">
        <li class="breadcrumb-item">后台</li>
        <li class="breadcrumb-item">账户</li>
        <li class="breadcrumb-item">账户管理</li>
      </ol>
    </nav>
    <div class="table-responsive-lg">
      <table class="table table-hover w-75 mx-auto mt-5 small">
        <thead>
          <tr class="bg-info text-light">
            <th scope="col">#</th>
            <th scope="col">昵称</th>
            <th scope="col">账号</th>
            <th scope="col">密码</th>
            <th scope="col">文章量</th>
            <th scope="col" class="text-center">操作</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach((user, index) =>{ %>
            <tr>
              <th scope="row"><%= index+1 %></th>
              <td><%= user.name %></td>
              <td><%= user.account %></td>
              <td><%= user.password %></td>
              <td><%= user.times %></td>
              <td class="text-center small">
                <a role="button" aria-pressed="true"  href="/admin/edit/<%= user._id %>" class="btn btn-sm btn-warning">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <a role="button" aria-pressed="true" href="/admin/remove/<%= user._id %>" class="btn btn-sm btn-danger text-light">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          <% })  %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include('../components/footer.ejs') %>
